@tailwind base;
@tailwind components;
@tailwind utilities;

/* For small screens (e.g., mobile phones) 
@media (max-width: 640px) {
    .cards {
      grid-template-columns: 1fr; 
    }

  } */
  
  /* For medium screens (e.g., tablets) 
  @media (min-width: 641px) and (max-width: 1024px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);  
    }
  }
  */
  /* For large screens (e.g., desktops) 
  @media (min-width: 1025px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);  
    }
  }
  */

  .react-tel-input .form-control {
    border: 1px solid #595959 !important;
    width: stretch !important;
}

 
  